.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: transparent;
  color: var(--color);
  padding: 5px 0;
  font-weight: 800;

  &__bracket {
    color: var(--color);
    opacity: 0.6;
  }

  &__branch {
    color: #b8bb26;
  }

  &__path {
    color: #83a598;
  }

  &__symbol {
    color: #fabd2f;
    margin-left: 5px;
  }
}
