{% import "macros/date.html" as date_macros -%}
{% import "macros/head.html" as head_macros -%}
{% import "macros/logo.html" as logo_macros -%}
{% import "macros/menu.html" as menu_macros -%}
{% import "macros/post.html" as post_macros -%}
{% import "macros/title.html" as title_macros -%}

<!DOCTYPE html>
<html lang="{%- if config.default_language -%}{{ config.default_language }}{%- else -%}en{%- endif -%}">

<head>
    <meta charset="utf-8">
    <title>{%- block title %}{{ config.title }}{% endblock title -%}</title>
    
    {{ head_macros::head(config=config) }}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ current_url | default(value=config.base_url) | safe }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ config.title }}{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% elif page.summary %}{{ page.summary | striptags | truncate(length=150) }}{% else %}{{ config.description }}{% endif %}">
    
    {# If you have a specific image for the post, use it; otherwise, use a default site image #}
    {% if page.extra.image %}
        <meta property="og:image" content="{{ get_url(path=page.extra.image) | safe }}">
    {% elif config.extra.og_image %}
        <meta property="og:image" content="{{ get_url(path=config.extra.og_image) | safe }}">
    {% endif %}

    {% block rss %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endblock %}

    {%- if config.extra.favicon %}
        <link rel="shortcut icon" type="{{ config.extra.favicon_mimetype | default(value="image/x-icon") | safe }}" href="{{ config.extra.favicon | safe }}">
    {% endif -%}

    {%- block extra_head %}
    {% endblock extra_head -%}
    <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade"/></noscript>
</head>

<body class="">
<div class="container">
    {% block header %}
    <header class="header">
        {% block header_menu %}
        {{ menu_macros::menu(config=config, current_path=current_path) }}
        {% endblock header_menu %}
        <div class="header__inner">
            <div class="header__logo">
                <a href="#" style="text-decoration: none;" onclick="return false;">
                    {% block logo_content %}
                        {%- set is_first_page = paginator and not paginator.previous -%}
                        {{ logo_macros::breadcrumb_logo(config=config, current_url=current_url | default(value=""), is_paginated_first_page=is_first_page) }}
                    {% endblock logo_content %}
                </a>
            </div>
        </div>
    </header>
    {% endblock header %}

    <div class="content">
        {% block content %}
        <div class="posts">
            {%- if paginator %}
                {%- set show_pages = paginator.pages -%}
            {% else %}
                {%- set show_pages = section.pages -%}
            {% endif -%}

            {%- for page in show_pages %}
                <div class="post on-list">
                    {{ post_macros::header(page=page) }}
                    {{ post_macros::content(page=page, summary=true) }}
                </div>
            {% endfor -%}
            <div class="pagination">
                <div class="pagination__buttons">
                {%- if paginator.previous %}
                    <span class="button previous">
                        <a href="{{ paginator.previous | safe }}">
                            <span class="button__icon">←</span>&nbsp;
                            <span class="button__text">Newer posts</span>
                        </a>
                    </span>
                {% endif -%}
                {%- if paginator.next %}
                    <span class="button next">
                        <a href="{{ paginator.next | safe }}">
                            <span class="button__text">Older posts</span>&nbsp;
                            <span class="button__icon">→</span>
                        </a>
                    </span>
                {% endif -%}
                </div>
            </div>
        </div>
        {% endblock content %}
    </div>

    {% block footer %}
    <footer class="footer">
        <div class="footer__inner">
            {%- if config.extra.copyright_html %}
                <div class="copyright copyright--user">{{ config.extra.copyright_html | safe }}</div>
            {% else %}
                <div class="copyright">
                    {%- if config.extra.author %}
                        <span>© {{ date_macros::now_year() }} {{ config.extra.author }}</span>
                    {% else %}
                        <span>© {{ date_macros::now_year() }} Powered by <a href="https://www.getzola.org/">Zola</a></span>
                    {% endif -%}

                    <span class="copyright-theme">
                    </span>
                </div>
            {% endif -%}
        </div>
    </footer>
    {% endblock footer %}

</div>
    {%- block extra_body %}
    {% endblock extra_body -%}
    <script src="{{ get_url(path="js/copy-code-to-clipboard.js") }}"></script>
</body>
</html>
